@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.title-blue {
  margin: 50px 0px 50px 65px;
  font-size: 24px;
  font-weight: 500;
  color: #4cbcbf;
  position: relative;
}

.title-blue::before {
  content: "";
  width: 46px;
  height: 19px;
  background: #4cbcbf;
  position: absolute;
  left: -65px;
  top: 2px;
  border-radius: 50px;
}

.title-green {
  margin: 50px 0px 50px 65px;
  font-size: 24px;
  font-weight: 500;
  color: #7ec909;
  position: relative;
}

.title-green::before {
  content: "";
  width: 46px;
  height: 19px;
  background: #7ec909;
  position: absolute;
  left: -65px;
  top: 2px;
  border-radius: 50px;
}

.header__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 30px 0px;
}

.header__row::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(37.1%, #63c909), color-stop(50%, #4cbcbf));
  background: linear-gradient(90deg, #63c909 37.1%, #4cbcbf 50%);
}

.header__logo img {
  -o-object-fit: none;
     object-fit: none;
}

.header__menu a {
  font-weight: 400;
  color: #000;
}

.header__menu a:hover {
  color: #4cbcbf;
  font-weight: 700;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li {
  margin-right: 20px;
  padding: 5px 10px;
}

.header__menu li.active {
  border: 4px solid #4cbcbf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
}

.header__menu li.active a {
  color: #4cbcbf;
  font-weight: 700;
}

.header__user {
  position: relative;
}

.header__user::before {
  content: "";
  position: absolute;
  left: -25px;
  top: -2px;
  width: 15px;
  height: 16px;
  background: url("../img/user.svg");
}

.header__user a {
  color: #7ec909;
}

.intro h1 {
  font-size: 36px;
  line-height: 42px;
}

.intro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 110px 30px 110px;
}

.intro__item p {
  max-width: 523px;
  line-height: 23px;
  margin: 30px 0px 40px 0px;
}

.intro__button a {
  padding: 14px 27px;
  color: #fff;
  background: #7ec909;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro__button a:hover {
  background: #4cbcbf;
}

.vebinars__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vebinars__item {
  position: relative;
  overflow: hidden;
  border-radius: 23px;
}

.vebinars__wrapper {
  position: absolute;
  left: 30px;
  bottom: 40px;
  max-width: 370px;
}

.vebinars__date {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 16px;
  color: #666;
  font-style: italic;
  max-width: 111px;
  text-align: center;
}

.vebinars__title {
  min-width: 370px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding: 12px 16px;
  color: #fff;
  border-radius: 0px 10px 10px 10px;
  background: #7ec909;
}

.vebinars__play {
  position: absolute;
  right: 35px;
  bottom: 45px;
}

.vebinars__all {
  text-align: center;
  margin: 50px 0px 50px 0px;
}

.vebinars__all a {
  font-size: 18px;
  color: #7ec909;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
