@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.title-blue {
  margin: 50px 0px 50px 65px;
  font-size: 24px;
  font-weight: 500;
  color: #4cbcbf;
  position: relative;
}

.title-blue::before {
  content: "";
  width: 46px;
  height: 19px;
  background: #4cbcbf;
  position: absolute;
  left: -65px;
  top: 2px;
  border-radius: 50px;
}

.title-green {
  margin: 50px 0px 50px 65px;
  font-size: 24px;
  font-weight: 500;
  color: #7ec909;
  position: relative;
}

.title-green::before {
  content: "";
  width: 46px;
  height: 19px;
  background: #7ec909;
  position: absolute;
  left: -65px;
  top: 2px;
  border-radius: 50px;
}

.header__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 30px 0px;
}

.header__row::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(37.1%, #63c909), color-stop(50%, #4cbcbf));
  background: linear-gradient(90deg, #63c909 37.1%, #4cbcbf 50%);
}

.header__logo img {
  -o-object-fit: none;
     object-fit: none;
}

.header__menu a {
  font-weight: 400;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu ul .submenu {
  display: none;
  z-index: 1;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 4px rgba(76, 188, 191, 0.3);
          box-shadow: 0px 3px 4px rgba(76, 188, 191, 0.3);
  border-radius: 0px 0px 16px 16px;
}

.header__menu ul .submenu li {
  width: 125px;
  margin: 10px;
}

.header__menu ul .submenu li.subactive a {
  color: #4cbcbf;
}

.header__menu ul .submenu li a {
  color: #666;
  font-weight: 400;
}

.header__menu ul .submenu li a:hover {
  color: #4cbcbf;
}

.header__menu ul .submenu li a .subactive {
  color: #4cbcbf;
}

.header__menu li {
  margin-right: 20px;
  padding: 5px 10px;
  position: relative;
  border: 4px solid #fff;
}

.header__menu li:hover > .submenu {
  display: block;
  position: absolute;
  left: -4px;
  top: 28px;
}

.header__menu li:hover a {
  color: #4cbcbf;
}

.header__menu li.active {
  border: 4px solid #4cbcbf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
}

.header__menu li.active:hover {
  border-radius: 14px 14px 0px 0px;
}

.header__menu li.active a {
  color: #4cbcbf;
  font-weight: 700;
}

.header__user {
  position: relative;
}

.header__user:hover::before {
  background: url("../img/user-a.svg");
}

.header__user::before {
  content: "";
  position: absolute;
  left: -25px;
  top: -2px;
  width: 15px;
  height: 16px;
  background: url("../img/user.svg");
}

.header__user a {
  color: #7ec909;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__user a:hover {
  color: #4cbcbf;
}

.intro h1 {
  font-size: 36px;
  line-height: 42px;
}

.intro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 110px 30px 110px;
}

.intro__item p {
  max-width: 523px;
  line-height: 23px;
  margin: 30px 0px 40px 0px;
}

.intro__button a {
  padding: 14px 27px;
  color: #fff;
  background: #7ec909;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro__button a:hover {
  background: #4cbcbf;
}

.vebinars__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vebinars__item {
  position: relative;
  overflow: hidden;
  border-radius: 23px;
}

.vebinars__wrapper {
  position: absolute;
  left: 30px;
  bottom: 40px;
  max-width: 370px;
}

.vebinars__date {
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 16px;
  color: #666;
  font-style: italic;
  max-width: 111px;
  text-align: center;
}

.vebinars__title {
  min-width: 370px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding: 12px 16px;
  color: #fff;
  border-radius: 0px 10px 10px 10px;
  background: #7ec909;
}

.vebinars__title a {
  color: #fff;
}

.vebinars__play {
  position: absolute;
  right: 35px;
  bottom: 45px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.vebinars__play:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.vebinars__all {
  text-align: center;
  padding: 50px 0px;
}

.vebinars__all a {
  font-size: 18px;
  color: #7ec909;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.anons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.anons__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  color: #6c6c6c;
}

.anons__header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.anons__header ul a {
  color: #4cbcbf;
  font-weight: 700;
}

.anons .title-blue {
  margin-bottom: 30px;
}

.anons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.anons__item {
  margin: 20px 0px 0px 0px;
  border: 2px solid #4cbcbf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 23px;
  padding: 50px 20px 30px 40px;
  max-width: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #fff;
}

.anons__cat {
  position: absolute;
  top: -2px;
  right: 25px;
  font-size: 16px;
  font-style: italic;
  border: 2px solid #4cbcbf;
  border-radius: 0px 0px 10px 10px;
  padding: 8px 15px;
}

.anons__cat a {
  color: #666;
}

.anons__img {
  border-radius: 23px;
  overflow: hidden;
  width: 181px;
  height: 215px;
  margin: 0px 30px 0px 0px;
}

.anons__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.anons__img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.anons__wrapper {
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.anons__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 155.69%;
  max-width: 322px;
  margin: 0px 0px 13px 0px;
}

.anons__title a {
  color: #171717;
}

.anons__text {
  font-size: 12px;
  line-height: 22px;
  margin: 0px 0px 20px 0px;
}

.anons__butt {
  position: absolute;
  right: 36px;
  bottom: 38px;
  width: 27px;
  height: 20px;
}

.anons__all {
  text-align: center;
  padding: 50px 0px;
}

.anons__all a {
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4cbcbf;
}

.activity__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.activity__item {
  position: relative;
  padding: 32px;
  width: 295px;
  height: 312px;
  border: 2px solid #4cbcbf;
  border-radius: 23px;
}

.activity__item:hover {
  background: linear-gradient(144.84deg, #4cbcbf 3.5%, #7ec909 79.34%);
  -webkit-box-shadow: 0px 0px 10px 3px #c4c4c4;
          box-shadow: 0px 0px 10px 3px #c4c4c4;
  border: none;
}

.activity__item:hover > .activity__date,
.activity__item:hover .activity__title {
  color: #fff;
}

.activity__item:hover > .activity__button {
  background: url("../img/anons-arrow-w.svg") center no-repeat;
}

.activity__date {
  font-style: italic;
  font-size: 16px;
  color: #666;
}

.activity__title {
  font-size: 16px;
  line-height: 155.69%;
  color: #171717;
  font-weight: 500;
  margin: 12px 0px 0px 0px;
}

.activity__button {
  position: absolute;
  left: 37px;
  bottom: 40px;
  width: 27px;
  height: 13px;
  background: url("../img/anons-arrow.svg") center no-repeat;
}

.activity__button a {
  padding: 20px;
}

.activity__all {
  text-align: center;
  padding: 50px 0px;
}

.activity__all a {
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4cbcbf;
}

.adv {
  padding: 30px 0px 0px 0px;
}

.adv__wrapper {
  width: 100%;
  height: 312px;
  border: 2px solid #4cbcbf;
  border-radius: 23px;
  overflow: hidden;
}

.adv__wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer {
  margin: 80px 0px 0px 0px;
}

.footer__row {
  background: #6c6c6c;
  border-radius: 23px 23px 0px 0px;
  padding: 50px 33px 20px 33px;
}

.footer__menu {
  border-bottom: 1px solid #fff;
  padding: 0px 0px 30px 0px;
}

.footer__menu a {
  color: #fff;
  font-weight: 500;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__menu ul .footer__submenu {
  margin: 15px 0px 0px 0px;
  display: block;
}

.footer__menu ul .footer__submenu li {
  width: 131px;
  padding: 5px 0px;
}

.footer__menu ul .footer__submenu a {
  font-size: 12px;
  font-weight: 400;
}

.footer__menu li {
  width: 131px;
}

.footer__bot {
  font-size: 12px;
  color: #fff;
  line-height: 170%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__bot a {
  color: #fff;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer__bot span {
  font-weight: 500;
}

.footer__item {
  padding: 20px 40px;
}
