@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
   font-family: "Roboto", sans-serif;
}
.container {
   max-width: 1240px;
   margin-left: auto;
   margin-right: auto;
}

$blue: #4cbcbf;
$green: #7ec909;
$gray: #6c6c6c;
$black: #000;
$white: #fff;

.title-blue {
   margin: 50px 0px 50px 65px;
   font-size: 24px;
   font-weight: 500;
   color: $blue;
   position: relative;
   &::before {
      content: "";
      width: 46px;
      height: 19px;
      background: $blue;
      position: absolute;
      left: -65px;
      top: 2px;
      border-radius: 50px;
   }
}
.title-green {
   margin: 50px 0px 50px 65px;
   font-size: 24px;
   font-weight: 500;
   color: $green;
   position: relative;
   &::before {
      content: "";
      width: 46px;
      height: 19px;
      background: $green;
      position: absolute;
      left: -65px;
      top: 2px;
      border-radius: 50px;
   }
}

.header {
   &__row {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0px 30px 0px;

      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 5px;
         background: linear-gradient(90deg, #63c909 37.1%, #4cbcbf 50%);
      }
   }

   &__logo {
      & img {
         object-fit: none;
      }
   }

   &__menu {
      & a {
         font-weight: 400;
         color: $black;
         &:hover {
            color: $blue;
            font-weight: 700;
         }
      }
      & ul {
         display: flex;
         align-items: center;
      }
      & li {
         margin-right: 20px;
         padding: 5px 10px;

         &.active {
            border: 4px solid #4cbcbf;
            box-sizing: border-box;
            border-radius: 50px;
            & a {
               color: $blue;
               font-weight: 700;
            }
         }
      }
   }

   &__user {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         left: -25px;
         top: -2px;
         width: 15px;
         height: 16px;
         background: url("../img/user.svg");
      }
      & a {
         color: $green;
      }
   }
}
.intro {
   & h1 {
      font-size: 36px;
      line-height: 42px;
   }
   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 110px 30px 110px;
   }

   &__item {
      & p {
         max-width: 523px;
         line-height: 23px;
         margin: 30px 0px 40px 0px;
      }
   }

   &__button a {
      padding: 14px 27px;
      color: $white;
      background: #7ec909;
      border-radius: 50px;
      transition: 0.3s;
      &:hover {
         background: $blue;
      }
   }

   &__img {
   }
}
.vebinars {
   &__row {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      position: relative;
      overflow: hidden;
      border-radius: 23px;
   }
   &__wrapper {
      position: absolute;
      left: 30px;
      bottom: 40px;
      max-width: 370px;
   }
   &__date {
      background: #ffffff;
      border-radius: 10px 10px 0px 0px;
      padding: 10px 16px;
      color: #666;
      font-style: italic;
      max-width: 111px;
      text-align: center;
   }

   &__title {
      min-width: 370px;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      padding: 12px 16px;
      color: #fff;
      border-radius: 0px 10px 10px 10px;
      background: $green;
   }

   &__play {
      position: absolute;
      right: 35px;
      bottom: 45px;
      transition: 0.3s;
      &:hover {
         cursor: pointer;
         transform: scale(1.2);
      }
   }

   &__all {
      text-align: center;
      margin: 50px 0px 50px 0px;
      & a {
         font-size: 18px;
         color: $green;
         text-decoration-line: underline;
      }
   }
}
